ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
  margin-bottom: 0;
}
.container {
  margin: 0 auto;
  width: 1060px;
}
.header {
    background: #27273e;
    text-align: center;
    background-origin: padding-box;
    margin-bottom: 0px;
  }
  .header .container {
    position: relative;
    height: 76px;
  }
  .logo {
    position: absolute;
    top: 10px;
    left: 0;
  }

  .contacts {
    position: absolute;
    right: 0;
    top: 15px;
  }
  
  .contacts {
    font-weight: bold;
    text-align: right;
  }
  
  .contacts__phone {
    color: #fff;
    text-decoration: none;
    font-size: 21px;
  }
  
  .contacts__phone:hover {
    text-decoration: underline;
  }
  
  .contacts__info {
    color:#a0235f;
    font-size: 14px;
    text-decoration-line: underline
  }


  .coopyright{
    color:#fff;
    font-size: 14px;
    text-align: left;
  }

  .news__avatar{
    width: 150px;
    height: 150px;
  
    overflow: hidden;
    border-radius: 50%; 
  }

  .footer {
    background: #27273e;
    background-origin: padding-box;
    margin-bottom: 0px;
  }

  .footer .container {
    position: relative;;
    height: 77px;
  }
  .footer__logo-picture {
    position: absolute;
    left: 50%;
  }
  .social__title{
    color:#fff;
    font-size: 14px;
    text-align: right;
  }
  .socials__items{
    display: inline-block;
  }