.page__price {
  margin-bottom: 30px;
}
.partners{
  width: 755px;
  margin-top: -5px;
}

.partners__list-box{
  margin-left: -50px;
}

.partners__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.partners__item {
  flex-basis: 33%;
  margin-bottom: 50px;
}
.partners__avatar {
  filter: grayscale(1);
  cursor: pointer;
  transition: .3s;
}

.partners__avatar:hover {
  filter: grayscale(0);
}