
.question {
  background: url(../../img/reviews/Rectangle\ 1.png);
  margin-bottom: 60px;
}
.container--ques{
  min-height: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.question__text {
  color: #fff;
  width: 620px;
  font-size: 17px;
  font-weight: lighter;
  line-height: 1.7;
}
.question__b {
  font-weight: bold;
  color: #ec1e79;
}
